body {
    font-family: "Poppins", sans-serif;
    background-color: lavender;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #151515;
}

form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: lightpink;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #151515;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input[type="email"],
.input-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    transition: border-bottom-color 0.3s;
}

.input-container input[type="email"]:focus,
.input-container input[type="password"]:focus {
    border-bottom-color: pink;
    outline: none;
}

.input-container input[type="email"]:focus::after,
.input-container input[type="password"]:focus::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: pink;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.input-container input[type="email"]:focus::after {
    transform-origin: left;
}

.input-container input[type="password"]:focus::after {
    transform-origin: right;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: pink;
    color: #151515;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: rgb(251, 227, 230);
}

.register-btn {
    display: block;
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 12px;
    background-color: pink;
    color: #151515;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s;
}

.register-btn:hover {
    background-color: rgb(251, 227, 230);
}